{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


<!-- <script>
            $(document).ready(function () {
              $("#callType").change(function () {
                var optionValue = $("#callType").val();
                if (optionValue == "complain") {
                  $("#complain").show();
                  $("#assist").hide();
                } else if (optionValue == "assistance") {
                  $("#assist").show();
                  $("#complain").hide();
                } else {
                  $("#assist").hide();
                  $("#complain").hide();
                }
              });
            });
          </script> -->

<!-- <div class="col">
            <label>Call Type</label>
            <select class="form-control" id="callType" name="callType">
              <option value="select">Select</option>
              <option value="complain">Complain</option>
              <option value="assistance">Assistance</option>
              <option value="queries">Queries</option>
              <option value="noResponse">No response</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control" id="complain" name="complain" style="display: none" }>
              <option value="1">Select complain type</option>
              <option value="2">Early Marrige</option>
              <option value="3">Eve Teasing</option>
              <option value="4">Load Shedding</option>
            </select>
          </div>
          <div class="col" >
            <select class="form-control" id="assist" name="assist" style="display: none">
              <option value="a">a</option>
              <option value="b">b</option>
              <option value="c">c</option>
              <option value="d">d</option>
            </select>
          </div> -->